<div class="ban-top">
  <div class="container">
    <div class="top_nav_left">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
              aria-expanded="false"
            >
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse menu--shylock"
            id="bs-example-navbar-collapse-1"
          >
            <ul class="nav navbar-nav menu__list">
              <li class="active menu__item menu__item--current">
                <a class="menu__link" href="index.html">
                  Home <span class="sr-only">(current)</span>
                </a>
              </li>
              <!-- Instrumentos de Cuerdas -->
              <li class="dropdown menu__item">
                <a
                  href="#"
                  class="dropdown-toggle menu__link"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Instrumentos de Cuerdas
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu multi-column columns-3">
                  <div class="row">
              
                    <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a href="mens.html">Guitarras</a></li>
                        <li><a href="mens.html">Bajos</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a href="mens.html">Pianos</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-6 multi-gd-img1 multi-gd-text">
                        <a href="mens.html"
                          ><img src="static/images/woo1.jpg" alt=" "
                        /></a>
                      </div>
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li>
              <!-- Percusión -->
              <li class="dropdown menu__item">
                <a
                  href="#"
                  class="dropdown-toggle menu__link"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Percusión <span class="caret"></span
                ></a>
                <ul class="dropdown-menu multi-column columns-3">
                  <div class="row">
                    <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a href="womens.html">Baterías Acústicas</a></li>
                      </ul>
                    </div>

                    <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a href="womens.html">Baterías Electrónica</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-6 multi-gd-img multi-gd-text">
                      <a href="womens.html"
                        ><img src="static/images/woo.jpg" alt=" "
                      /></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li>
              <!-- Amplificadores -->
              <li class="dropdown menu__item">
                <a
                  href="#"
                  class="dropdown-toggle menu__link"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Amplificadores <span class="caret"></span
                ></a>
                <ul class="dropdown-menu multi-column columns-3">
                  <div class="row">
                    <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a href="womens.html">Cabezales</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a href="womens.html">Cajas</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-6 multi-gd-img multi-gd-text">
                      <a href="womens.html"
                        ><img src="static/images/woo.jpg" alt=" "
                      /></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li>
              <!-- Accesorios -->
              <li class="dropdown menu__item">
                <a
                  href="#"
                  class="dropdown-toggle menu__link"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                  >Accesorios <span class="caret"></span
                ></a>
                <ul class="dropdown-menu multi-column columns-3">
                  <div class="row">
                    <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a href="womens.html">Audífonos</a></li>
                        <li><a href="womens.html">Monitores</a></li>
                        <li><a href="womens.html">Parlantes</a></li>
                        <li><a href="womens.html">Cables</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-3 multi-gd-img">
                      <ul class="multi-column-dropdown">
                        <li><a href="womens.html">Micrófonos</a></li>
                        <li><a href="womens.html">Interfaces</a></li>
                        <li><a href="womens.html">Mixers</a></li>
                      </ul>
                    </div>
                    <div class="col-sm-6 multi-gd-img multi-gd-text">
                      <a href="womens.html"
                        ><img src="static/images/woo.jpg" alt=" "
                      /></a>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </ul>
              </li>
              <!-- <li class="menu__item">
                <a class="menu__link" href="contact.html">contact</a>
              </li> -->
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="top_nav_right">
      <div class="cart box_1">
        <a href="checkout.html">
          <h3>
            <div class="total">
              <i
                class="glyphicon glyphicon-shopping-cart"
                aria-hidden="true"
              ></i>
              <span class="simpleCart_total"></span> (<span
                id="simpleCart_quantity"
                class="simpleCart_quantity"
              ></span>
              items)
            </div>
          </h3>
        </a>
        <p>
          <a href="javascript:;" class="simpleCart_empty">Empty Cart</a>
        </p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
