<center>
    <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"
        style="font-size: 40px; transform: scale(1);"></span>

    <h4 class="alert-heading mb-3">Entramos un error!</h4>
    <p>
        Lo sentimos, algo ha fallado en el proceso. Por favor, inténtalo nuevamente más tarde o contacta al equipo de soporte técnico para obtener ayuda adicional.
        Si el problema persiste, comunícate con nosotros a través de nuestro correo electrónico: <b>support@ejemplo.com</b> o llámanos al <b>+1 (800) 123-4567</b>.
    </p>
    <br>
    <p><b id="error_title"></b><br><span id="error_message"></span></p>
</center>