<div class=" col-md-3" style="margin-bottom: 15px;">

    <div class="card shadow">
        <center>
            <img class="card-img-top" src="%photo%" alt="Card image cap" style="width: 150px; margin-block: 55px;">
        </center>
        <div class="card-body">
            <center>
                <p>%marca%</p>

                <div class="format_nombre font_custom">
                    %nombre_sort%
                </div>

                <p style="margin-bottom: 10px;">
                    <span class="format_clp">%format_clp%</span>
                </p>

                <a href="#" style="margin-bottom: 25px;" class="item_add single-item hvr-outline-out button2"
                    onclick="agregarAlCarrito('%precio%', '%nombre%', '%photo%')">
                    Add
                    <i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i>
                    <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
                </a>
            </center>
        </div>
    </div>
</div>