<script type="application/x-javascript">
  addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
  function hideURLbar() {
    window.scrollTo(0,1);
  }
</script>
<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery-2.1.4.min.js') }}"></script>

<!-- jQuery Easing -->
<script src="{{ url_for('static', filename='js/jquery.easing.min.js') }}"></script>

<!-- Bootstrap -->
<script src="{{ url_for('static', filename='js/bootstrap-3.1.1.min.js') }}"></script>

<!-- Util -->
<script src="{{ url_for('static', filename='js/shoppingCart.js') }}"></script>

<!-- Product -->
<script src="{{ url_for('static', filename='js/productsTable.js') }}"></script>


<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table-locale-all.min.js"></script>
<script
  src="https://unpkg.com/bootstrap-table@1.19.1/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>