<!-- progress -->
<div class='progress' style="margin-top: 45px;">
  <div class="progress-bar bg-custom progress-bar-striped active" style="width:100%"></div>
</div>
<!-- //progress -->

<!-- myTable -->
<table id="myTable"></table>
<template id="tableTemplate">
  {% include "resources/card_table.html" %}
</template>
<!-- //myTable -->

<!-- alert_generic -->
<div style="margin-top: 15px;">
  <div style="display: none;" class="alert alert-danger" role="alert">
    {% include "resources/alert_generic.html" %}
  </div>
</div>
<!-- //alert_generic -->

{% block javascripts %}
<script>
  $(function () {
    generarTablaProductoIndex()
  })
</script>
{% endblock %}