<!-- progress -->
<div class='progress' style="margin-top: 45px;">
  <div class="progress-bar bg-custom progress-bar-striped active" style="width:100%"></div>
</div>
<!-- //progress -->

<!-- myTable -->
<table id="myTable"></table>
<template id="tableTemplate">
  {% include "resources/card_table.html" %}
</template>
<!-- //myTable -->

<script>
  $(function () {
    $("#myTable").bootstrapTable({
      url: '/get_productos',
      locale: 'es-CL',
      showCustomView: true,
      onLoadSuccess: function (number, size) {
        $(".progress").hide();
        $(".search-input").show()
      },
      onPageChange: function (number, size) {
        window.scrollTo(0, 0)
      },
      customView: function (data) {
        // Agregamos el HTML para cargar los datos
        var view = ""
        var template = $("#tableTemplate").html()
        var nombre_sort = ""
        // Recorremos datos
        $.each(data, function (i, row) {
          nombre_sort = row.nombre.length > 50 ? row.nombre.substring(0, 50) + "..." : row.nombre;
          view += template
            .replaceAll("%nombre_sort%", nombre_sort)
            .replaceAll("%nombre%", row.nombre)
            .replaceAll("%marca%", row.marca)
            .replaceAll("%photo%", row.photo)
            .replaceAll("%precio%", row.precio)
            .replaceAll("%format_clp%", row.format_clp)
        });
        // Retornamos un row con colum
        return `<div class="row">${view}</div>`;
      }
    });
    $(".fixed-table-body, .search-input").hide()
    $("[name='customView']").click().remove()

    $("#myTable").animate({
      left: "+=50px"
    }, {
      duration: 1000,
      easing: "easeOutBounce"
    });
  })
</script>