{% extends "inner_page.html" %}

{% block content %}
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark text-white" style="background: black;">
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Instrumentos de Cuerdas</li>
    <li class="breadcrumb-item active" aria-current="page">Bajos</li>
  </ol>
</nav>
<!-- //breadcrumb -->

<!-- myTable -->
<div id="divTabla" style="display: none;">
  <table id="myTable"></table>
  <template id="tableTemplate">
    {% include "resources/card_table.html" %}
  </template>
</div>
<!-- //myTable -->

<!-- progress -->
<div class='progress'>
  <div class="progress-bar bg-custom progress-bar-striped active" style="width:100%"></div>
</div>
<!-- //progress -->

<!-- alert_generic -->
<div style="display: none;" class="alert alert-danger" role="alert">
  {% include "resources/alert_generic.html" %}
</div>
<!-- //alert_generic -->
{% endblock %}

{% block javascripts %}
<script src="static/js/tablaProductos.js"></script>
<script>
  $(function () {
    generarTablaTipoProductos(2)
  })
</script>

{% endblock %}