{% extends "inner_page.html" %}

{% block content %}
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark text-white" style="background: black;">
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Instrumentos de Cuerdas</li>
    <li class="breadcrumb-item active" aria-current="page">Guitarras</li>
  </ol>
</nav>
<!-- //breadcrumb -->

<!-- progress -->
<div class='progress' style="margin-top: 45px;">
  <div class="progress-bar bg-custom progress-bar-striped active" style="width:100%"></div>
</div>
<!-- //progress -->

<!-- myTable -->
<table id="myTable"></table>
<template id="tableTemplate">
  <div class="col-md-3 product-men mb-3" style="margin-bottom: 15px;">
    <div class="men-pro-item simpleCart_shelfItem">
      <div class="men-thumb-item">
        <img src="%photo%" alt="" class="pro-image-front" />
        <img src="%photo%" alt="" class="pro-image-back" />
        <div class="men-cart-pro">
          <div class="inner-men-cart-pro">
            <a href="#" class="link-product-add-cart">Ver Producto</a>
          </div>
        </div>
        <span class="product-new-top">New</span>
      </div>
      <div class="item-info-product">
        <h4 style="padding-inline: 12px;">
          <a style="font-size: 16px;" href="#" title="%description%">%description_sort%</a>
        </h4>
        <div class="info-product-price">
          <span class="item_price">
            %price%
          </span>
        </div>
        <a href="#" class="item_add single-item hvr-outline-out button2"
          onclick="agregarAlCarrito('%price%', '%description%', '%photo%')">Agregar al Carrito</a>
      </div>
    </div>
  </div>
</template>
<!-- //myTable -->
{% endblock %}

{% block javascripts %}
<script>
  $(function () {
    $("#myTable").bootstrapTable({
      url: '/get_productos/1',
      locale: 'es-CL',
      search: true,
      searchAlign: 'left',
      pageSize: 8,
      pagination: true,
      paginationPreText: 'Anterior',
      paginationNextText: 'Siguiente',
      //paginationVAlign: "both",
      showCustomView: true,
      columns: [
        { field: 'description', sortable: true }
      ],
      onLoadSuccess: (number, size) => {
        $(".progress").hide();
        $(".search-input").show()
      },
      onPageChange: (number, size) => {
        window.scrollTo(0, 0)
      },
      customView: (data) => {
        // Agregamos el HTML para cargar los datos
        var view = ""
        var template = $("#tableTemplate").html()
        var description_sort = ""
        var formatter = new Intl.NumberFormat("es-CL", { style: "currency", currency: "CLP", })
        // Recorremos datos
        $.each(data, function (i, row) {
          description_sort = row.description.length > 45 ? row.description.substring(0, 45) + "..." : row.description;
          view += template
            .replaceAll("%description%", row.description)
            .replaceAll("%description_sort%", description_sort)
            .replaceAll("%photo%", row.photo)
            .replaceAll("%price%", formatter.format(row.price))
        });
        // Retornamos un row con colum
        return `<div class="row">${view}</div>`;
      }
    });
    $(".fixed-table-body, .search-input").hide()
    $("[name='customView']").click().remove()
  })
</script>
{% endblock %}