{% extends "inner_page.html" %}

{% block content %}
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark text-white" style="background: black;">
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Instrumentos de Cuerdas</li>
    <li class="breadcrumb-item active" aria-current="page">Guitarras</li>
  </ol>
</nav>
<!-- //breadcrumb -->

<!-- progress -->
<div class='progress' style="margin-top: 45px;">
  <div class="progress-bar bg-custom progress-bar-striped active" style="width:100%"></div>
</div>
<!-- //progress -->

<!-- myTable -->
<table id="myTable"></table>
<template id="tableTemplate">
  {% include "resources/card_table.html" %}
</template>
<!-- //myTable -->
{% endblock %}

{% block javascripts %}
<script>
  $(function () {
    $("#myTable").bootstrapTable({
      url: '/get_productos/1',
      locale: 'es-CL',
      search: true,
      searchAlign: 'left',
      pageSize: 8,
      pagination: true,
      paginationPreText: 'Anterior',
      paginationNextText: 'Siguiente',
      //paginationVAlign: "both",
      showCustomView: true,
      columns: [
        { field: 'nombre', sortable: true }
      ],
      onLoadSuccess: (number, size) => {
        $(".progress").hide();
        $(".search-input").show()
      },
      onPageChange: (number, size) => {
        window.scrollTo(0, 0)
      },
      customView: (data) => {
        // Agregamos el HTML para cargar los datos
        var view = ""
        var template = $("#tableTemplate").html()
        var nombre_sort = ""
        // Recorremos datos
        $.each(data, function (i, row) {
          nombre_sort = row.nombre.length > 45 ? row.nombre.substring(0, 45) + "..." : row.nombre;
          view += template
            .replaceAll("%nombre_sort%", nombre_sort)
            .replaceAll("%nombre%", row.nombre)
            .replaceAll("%photo%", row.photo)
            .replaceAll("%precio%", row.precio)
            .replaceAll("%format_clp%", row.format_clp)

        });
        // Retornamos un row con colum
        return `<div class="row">${view}</div>`;
      }
    });
    $(".fixed-table-body, .search-input").hide()
    $("[name='customView']").click().remove()
  })
</script>
{% endblock %}