<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
  <title>
    Smart Shop a Ecommerce Online Shopping Category Flat Bootstrap Responsive
    Website Template | Home :: w3layouts
  </title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords"
    content="Smart Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <!--  CSS  -->
  <!-- //for-mobile-apps -->
  <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <!-- bootstrap CSS only -->
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.21.3/bootstrap-table.min.css">
  <!-- pignose css -->
  <link href="static/css/pignose.layerslider.css" rel="stylesheet" type="text/css" media="all" />
  <!-- //pignose css -->
  <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!-- //for bootstrap working -->
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link
    href="//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic"
    rel="stylesheet" type="text/css" />
  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock %}
</head>

<body>
  <!-- header -->
  {% include "inner_page/header.html" %}
  <!-- //header -->

  <!-- banner -->
  {% include "inner_page/menu.html" %}
  <!-- //banner -->

  <!-- content -->
  {% block content %}{% endblock %}
  <!-- //content -->

  <!-- coupons -->
  {% include "inner_page/coupons.html" %}
  <!-- //coupons -->

  <!-- footer -->
  {% include "inner_page/footer.html" %}
  <!-- //footer -->

  <!-- login -->
  {% include "inner_page/login.html" %}
  <!-- //login -->

  <!-- js -->
  <script type="application/x-javascript">
    addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
    function hideURLbar() {
      window.scrollTo(0,1);
    }
  </script>
  <script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
  <!-- cart -->
  <script src="static/js/simpleCart.min.js"></script>
  <!-- for bootstrap working -->
  <script type="text/javascript" src="static/js/bootstrap-3.1.1.min.js"></script>
  <script src="static/js/jquery.easing.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
  <script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table-locale-all.min.js"></script>
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock %}
</body>

</html>