<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
  <title>
    Smart Shop a Ecommerce Online Shopping Category Flat Bootstrap Responsive
    Website Template | Home :: w3layouts
  </title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords"
    content="Smart Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

  <!--  CSS  -->
  {% include "resources/css.html" %}
  <style>
    .bg-custom {
      background-color: #fda30e;
    }
  </style>
  
  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock %}

  <!--  JS  -->
  {% include "resources/js.html" %}
</head>

<body>
  <!-- header -->
  {% include "resources/header.html" %}
  <!-- //header -->

  <!-- banner -->
  {% include "resources/menu.html" %}
  <!-- //banner -->

  <!-- content -->
  {% include "resources/content.html" %}
  <!-- //content -->

  <!-- productos -->
  {% include "resources/productos.html" %}
  <!-- //productos -->

  <!-- coupons -->
  {% include "resources/coupons.html" %}
  <!-- //coupons -->

  <!-- footer -->
  {% include "resources/footer.html" %}
  <!-- //footer -->

  <!-- login -->
  {% include "resources/login.html" %}
  <!-- //login -->

  <script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table-locale-all.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.21.3/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock %}

</body>

</html>