<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
  <title>
    Smart Shop a Ecommerce Online Shopping Category Flat Bootstrap Responsive
    Website Template | Home :: w3layouts
  </title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords"
    content="Smart Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

  <!--  CSS  -->
  {% include "resources/css.html" %}

  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock %}

  <!--  JS  -->
  {% include "resources/js.html" %}
</head>

<body>
  <!-- header -->
  {% include "resources/header.html" %}
  <!-- //header -->

  <!-- banner -->
  {% include "resources/menu.html" %}
  <!-- //banner -->

  <!-- content -->
  {% include "resources/content.html" %}
  <!-- //content -->

  <div class="new_arrivals">
    <div class="container">
      <h3><span>new </span>arrivals</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
      <!-- productos -->
      {% include "resources/productos.html" %}
      <!-- //productos -->

    </div>
  </div>

  <!-- coupons -->
  {% include "resources/coupons.html" %}
  <!-- //coupons -->

  <!-- footer -->
  {% include "resources/footer.html" %}
  <!-- //footer -->

  <!-- login -->
  {% include "resources/login.html" %}
  <!-- //login -->

  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock %}
</body>

</html>