<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
  <title>
    Smart Shop a Ecommerce Online Shopping Category Flat Bootstrap Responsive
    Website Template | Home :: w3layouts
  </title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords"
    content="Smart Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
  <!--  CSS  -->
  <!-- //for-mobile-apps -->
  <link href="static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
  <!-- bootstrap CSS only -->
  <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap-table/1.21.3/bootstrap-table.min.css">
  <!-- pignose css -->
  <link href="static/css/pignose.layerslider.css" rel="stylesheet" type="text/css" media="all" />
  <!-- //pignose css -->
  <link href="static/css/style.css" rel="stylesheet" type="text/css" media="all" />
  <!-- //for bootstrap working -->
  <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link
    href="//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic"
    rel="stylesheet" type="text/css" />
  <style>
    .bg-custom {
      background-color: #fda30e;
    }
  </style>
  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock %}
  <!-- js -->
  <script type="application/x-javascript">
      addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
      function hideURLbar() {
        window.scrollTo(0,1);
      }
    </script>
  <script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
  <!-- cart -->
  <script src="static/js/simpleCart.min.js"></script>
  <!-- for bootstrap working -->
  <script type="text/javascript" src="static/js/bootstrap-3.1.1.min.js"></script>
  <script src="static/js/jquery.easing.min.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> -->
  <script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table.min.js"></script>
  <script src="https://unpkg.com/bootstrap-table@1.21.3/dist/bootstrap-table-locale-all.min.js"></script>
  <!-- Specific Page JS goes HERE  -->
</head>

<body>
  <!-- header -->
  {% include "resources/header.html" %}
  <!-- //header -->

  <!-- login -->
  {% include "resources/login.html" %}
  <!-- //login -->

  <!-- menu -->
  {% include "resources/menu.html" %}
  <!-- //menu -->

  <!-- content -->
  <div class="container" style="margin-block: 65px;">
    {% block content %}

    {% endblock %}
    <!-- men-wear-bottom -->
    <div class="men-wear-bottom">
      <div class="col-sm-4 men-wear-left">
        <img class="img-responsive"
          src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.shopify.com%2Fs%2Ffiles%2F1%2F1023%2F7433%2Fproducts%2FC40_b632efb6-e5db-495c-9399-d8db96044cc8.png%3Fv%3D1569040586&f=1&nofb=1&ipt=8cce21da2e965e058173725c861f0ccae518303732c63db60b99eeea36b76999&ipo=images"
          alt=" " />
      </div>
      <div class="col-sm-8 men-wear-right">
        <h4>Exclusive Collections</h4>
        <p>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
          quae ab illo inventore veritatis et quasi architecto beatae vitae
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
          aspernatur aut odit aut fugit.
        </p>
      </div>
      <div class="clearfix"></div>
    </div>
    <!-- //men-wear-bottom -->
  </div>
  <!-- //content -->

  <!-- coupons -->
  {% include "resources/coupons.html" %}
  <!-- //coupons -->

  <!-- footer -->
  {% include "resources/footer.html" %}
  <!-- //footer -->

  <script>
    var compra_total = localStorage.getItem('compra_total');
    var compra_item = localStorage.getItem('compra_item');
    var compra_formato = localStorage.getItem('compra_formato');
    var compra_productos = localStorage.getItem('compra_productos');
    var formatter = new Intl.NumberFormat("es-CL", { style: "currency", currency: "CLP", })
    
    $(function () {
      // Si no hay un número previo en el almacenamiento local, establece el número inicial en 0
      if (!compra_item) {
        compra_total = 0;
        compra_item = 0;
        compra_productos = '[]'
      }

      $('#compra_total').text(formatter.format(compra_total))
      $('#compra_item').text(compra_item)
    });

    function agregarAlCarrito(precio, description, photo) {
      //parseo textos a numeros para sumar
      precio = parseInt(precio.replaceAll('.', '').replaceAll('$', ''));
      compra_total = parseInt(compra_total);
      //Recupero txt y parseo a json
      compra_productos = JSON.parse(compra_productos);
      // Incrementa el número actual en 1 cada vez que se llama esta función
      compra_total += precio
      compra_item++
      // Crear un objeto para almacenar
      var objeto = {
        'precio': precio,
        'description': description,
        'photo': photo,
        'format': formatter.format(compra_total),
      }
      //Adjunto datos 
      compra_productos.push(objeto)
      // Esto transforma a json tipo text. si no se guarda asi el array no se puede acceder despues
      compra_productos = JSON.stringify(compra_productos)
      // Escribe el nuevo número asignado en el almacenamiento local
      localStorage.setItem('compra_total', compra_total);
      localStorage.setItem('compra_item', compra_item);
      localStorage.setItem('compra_productos', compra_productos);
      // Actualiza el contenido del elemento HTML que muestra el número asignado
      $('#compra_total').text(formatter.format(compra_total));
      $('#compra_item').text(compra_item)
    }

    function limpiarCarrito() {
      compra_total = 0;
      compra_item = 0;
      compra_productos = '[]'

      localStorage.setItem('compra_total', compra_total);
      localStorage.setItem('compra_item', compra_item);
      localStorage.setItem('compra_productos', compra_productos);

      $('#compra_total').text('$' + compra_total);
      $('#compra_item').text(compra_item)
    }
  </script>
  {% block javascripts %}{% endblock %}

</body>

</html>