<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>

<head>
  <title>
    Smart Shop a Ecommerce Online Shopping Category Flat Bootstrap Responsive
    Website Template | Home :: w3layouts
  </title>
  <!-- for-mobile-apps -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords"
    content="Smart Shop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />

  <!--  CSS  -->
  {% include "resources/css.html" %}

  <!-- Specific Page CSS goes HERE  -->
  {% block stylesheets %}{% endblock %}

  <!--  JS  -->
  {% include "resources/js.html" %}
</head>

<body>
  <!-- header -->
  {% include "resources/header.html" %}
  <!-- //header -->

  <!-- login -->
  {% include "resources/login.html" %}
  <!-- //login -->

  <!-- menu -->
  {% include "resources/menu.html" %}
  <!-- //menu -->

  <div class="new_arrivals" style="padding-top: 30px;">
    <div class="container">
      {% block content %}

      {% endblock %}
    </div>
  </div>

  <!-- footer -->
  {% include "resources/footer.html" %}
  <!-- //footer -->

  {% block javascripts %}{% endblock %}
</body>

</html>