<script type="application/x-javascript">
  addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
  function hideURLbar() {
    window.scrollTo(0,1);
  }
</script>
<!-- js -->
<script type="text/javascript" src="static/js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- cart -->
<script src="static/js/simpleCart.min.js"></script>
<!-- cart -->
<!-- for bootstrap working -->
<script type="text/javascript" src="static/js/bootstrap-3.1.1.min.js"></script>

<script src="static/js/jquery.easing.min.js"></script>