{% extends "inner_page.html" %}

{% block content %}
<!-- breadcrumb -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-dark text-white" style="background: black;">
    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
    <li class="breadcrumb-item active" aria-current="page">Accesorios</li>
    <li class="breadcrumb-item active" aria-current="page">Cables</li>
  </ol>
</nav>
<!-- //breadcrumb -->

<!-- progress -->
<div class='progress' style="margin-top: 45px;">
  <div class="progress-bar bg-custom progress-bar-striped active" style="width:100%"></div>
</div>
<!-- //progress -->

<!-- myTable -->
<table id="myTable"></table>
<template id="tableTemplate">
  {% include "resources/card_table.html" %}
</template>
<!-- //myTable -->
{% endblock %}

{% block javascripts %}
<script src="static/js/tablaProductos.js"></script>
<script>
  $(function () {
    generarTablaTipoProductos(11)
  })
</script>

{% endblock %}