{% extends "client.html" %}

{% block stylesheets %}{% endblock %}

{% block content %}
<!-- mens -->
<div class="men-wear">
  <div class="container">
    <div class="col-md products-right">
      <h5 class="mb-2">Product Compare(0)</h5>
      <div class="clearfix"></div>

      <table id="table" data-toggle="table" data-method="get" data-locale="es-CL"
        data-url="/portfolio/list" data-loading-font-size="14px" data-url="">
        <thead>
          <tr>
            <th data-field="id" data-sortable="true">id</th>
            <th data-field="description" data-sortable="true">description</th>
            <th data-field="create_time" data-sortable="true">create_time</th>
            <th data-field="update_time" data-sortable="true">update_time</th>
            <th data-field="photo" data-sortable="true">photo</th>
            <th data-field="url_nintendo" data-sortable="true">url_nintendo</th>
          </tr>
        </thead>
      </table>

      <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>
  </div>
</div>
<!-- //mens -->
{% endblock %}

{% block javascripts %}
<script>
  $(function () {
    var order = false
    $("#table2").bootstrapTable({
      locale: "es-CL",
      ajax: (params) => {

        $.get("/portfolio/list", $.param(params.data), (data) => {
          console.log(data);
          params.success(data);

          //if (data.total == 0) {
          //  $("#loadNoResult").show()
          //} else {
          //  params.success(data);
          //}

        }).fail((jqXHR, textStatus, error) => {
          console.error(jqXHR);
          params.success([]);
        }).always(() => {
        });
      },
      onLoadSuccess: (number, size) => {
        console.log('hola')
      },
    });
  });

  function loadingTemplate(message) {
    return 'El asd<div class="ph-item"><div class="ph-picture"></div></div>';
  }

  function reloadImage(img) {
    img.onerror = null
    img.src = 'img/not_loading_product.png'
  }
</script>
{% endblock %}