{% extends "client.html" %}

{% block stylesheets %}{% endblock %}

{% block content %}
<!-- mens -->
<div class="men-wear">
  <div class="container">

    <div class="products-right">
      <h5 class="mb-2">Inventario Producto</h5>
      <!-- bootstrapTable -->
      <table id="table"></table>
    </div>

  </div>
</div>
<!-- //mens -->
{% endblock %}

{% block javascripts %}
<script>
  $(function () {
    var order = false
    $("#table").bootstrapTable({
      url: '/portfolio/list',
      columns: [
        { field: 'description', sortable: true, title: 'Description' },
        { field: 'create_time', sortable: true, title: 'Create Time' },
        { field: 'update_time', sortable: true, title: 'Update Time' },
        { field: 'price', sortable: true, title: 'Price' },
        { field: 'photo', sortable: false, title: 'Photo' },
        { field: 'url_nintendo', sortable: false, title: 'Url Nintendo' }
      ],
      loadingFontSize: "14px",
      locale: 'es-CL',
      //buttonsAlign: 'left',
      search: true,
      searchAlign: 'left',
      sortable: true,
      pageSize: 10,
      pagination: true,
      paginationPreText: 'Anterior',
      paginationNextText: 'Siguiente',
      paginationVAlign: "both",
      //paginationParts: ["pageInfo", "pageInfoShort", "pageSize", "pageList"],
      paginationParts: ["pageInfo", "pageList"],
      onLoadSuccess: (number, size) => {
        console.log('hola')
      },
      onPageChange: (number, size) => {
        window.scrollTo(0, 0)
      },
    });
  });
</script>
{% endblock %}