{% extends "client.html" %}

{% block stylesheets %}{% endblock %}

{% block content %}
<!-- mens -->
<div class="men-wear">
  <div class="container">

    <div class="products-right">
      <h5 class="mb-2">Guitarras</h5>

      <!-- <div class="men-wear-bottom">
        <div class="col-sm-4 men-wear-left">
          <img class="img-responsive" src="static/images/men3.jpg" alt=" " />
        </div>
        <div class="col-sm-8 men-wear-right">
          <h4>Exclusive Men's Collections</h4>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sit voluptatem
            accusantium doloremque laudantium, totam rem aperiam, eaque ipsa
            quae ab illo inventore veritatis et quasi architecto beatae vitae
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit
            aspernatur aut odit aut fugit.
          </p>
        </div>
        <div class="clearfix"></div>
      </div> -->

      <table id="myTable"></table>

      <template id="profileTemplate">
        <div class="col-md-3 product-men mb-3" style="margin-bottom: 15px;">
          <div class="men-pro-item simpleCart_shelfItem">
            <div class="men-thumb-item">
              <img src="static/images/a8.png" alt="" class="pro-image-front" />
              <img src="static/images/a8.png" alt="" class="pro-image-back" />
              <div class="men-cart-pro">
                <div class="inner-men-cart-pro">
                  <a href="single.html" class="link-product-add-cart">Ver Producto</a>
                </div>
              </div>
              <span class="product-new-top">New</span>
            </div>
            <div class="item-info-product">
              <h4><a href="single.html" label="asd">%description%</a></h4>
              <div class="info-product-price">
                <span class="item_price">$45.99</span>
                <del>$69.71</del>
              </div>
              <a href="#" class="item_add single-item hvr-outline-out button2">Agregar al Carrito</a>
            </div>
          </div>
        </div>
      </template>

    </div>

    <!--     <div id="cargandoDatos">
          <h1>Cargando datos...</h1>
          <p>Por favor espere mientras se cargan los datos.</p>
          <div class='progress'>
              <div class="progress-bar progress-bar-striped active" style="width:100%"></div>
          </div>
  
          <div class="text-center">
              <i class="fa fa-spinner fa-spin fa-3x"></i>
            </div>
            
      </div> -->

  </div>
</div>
<!-- //mens -->

{% endblock %}

{% block javascripts %}
<script
  src="https://unpkg.com/bootstrap-table@1.21.3/dist/extensions/custom-view/bootstrap-table-custom-view.js"></script>
<script>
  $(function () {
    $("#myTable").bootstrapTable({
      url: '/portfolio/list',
      columns: [
        { field: 'description', sortable: true, title: 'Description' },
        { field: 'create_time', sortable: true, title: 'Create Time' },
        { field: 'update_time', sortable: true, title: 'Update Time' },
        { field: 'price', sortable: true, title: 'Price' },
        { field: 'photo', sortable: false, title: 'Photo' },
        { field: 'url_nintendo', sortable: false, title: 'Url Nintendo' }
      ],
      showCustomView: true,
      customView: (data) => {
        // Agregamos el HTML para cargar los datos
        var view = "";
        var template = $("#profileTemplate").html();
        $.each(data, function (i, row) {
          if (row.description.length > 15) {
            row.description = row.description.substring(0, 15) + "...";
          }
          view += template
            .replace("%description%", row.description)
        });
        return `<div class="row">${view}</div>`;
      },
      loadingFontSize: "14px",
      locale: 'es-CL',
      //buttonsAlign: 'left',
      search: true,
      searchAlign: 'left',
      sortable: true,
      pageSize: 8,
      pagination: true,
      paginationPreText: 'Anterior',
      paginationNextText: 'Siguiente',
      paginationVAlign: "both",
      //paginationParts: ["pageInfo", "pageInfoShort", "pageSize", "pageList"],
      paginationParts: ["pageInfo", "pageList"],
      onLoadSuccess: (number, size) => {
        console.log('hola')
      },
      onPageChange: (number, size) => {
        //window.scrollTo(0, 0)
      },
    });

    //$(".fixed-table-body").hide()
    $("[name='customView']").click().hide()
  })
</script>
{% endblock %}