{% extends "client.html" %}

{% block stylesheets %}{% endblock %}

{% block content %}
<div style="margin-block: 18px;" class="container">
  <table id="myTable"></table>
</div>
{% endblock %}

{% block javascripts %}
<script>
  $(function () {
    $('#myTable').bootstrapTable({
      url: '/list_products',
      loadingFontSize: "14px",
      pagination: true,
      pageSize: 10,
      locale: 'es-CL',
      sidePagination: 'server',
      buttonsAlign: 'left',
      searchAlign: 'left',
      paginationPreText: 'Anterior',
      paginationNextText: 'Siguiente',
      sortable: true,
      sortName: 'price',
      sortOrder: 'asc',
      search: true,
      paginationVAlign: "both",
      toolbar: ".toolbar",
      //paginationParts: ["pageInfo", "pageInfoShort", "pageSize", "pageList"],
      paginationParts: ["pageInfoShort", "pageList"],
      columns: [
        { field: 'description', sortable: true, title: 'Description' },
        { field: 'create_time', sortable: true, title: 'Create Time' },
        { field: 'update_time', sortable: true, title: 'Update Time' },
        { field: 'price', sortable: true, title: 'Price' },
        { field: 'photo', sortable: false, title: 'Photo' },
        { field: 'url_nintendo', sortable: false, title: 'Url Nintendo' }
      ],
      onPageChange: (number, size) => {
        //$(".fixed-table-container, .fixed-table-pagination").hide();
        //$("#cargandoDatos").show()
        window.scrollTo(0, 0)
      },
    });
  });
</script>
{% endblock %}