{% extends "inner_page.html" %}

{% block content %}
<!-- check out -->
<div class="checkout">
	<div class="container">
		<h3>My Shopping Bag</h3>
		<div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
			<table id="tabla" class="timetable_sub">
				<thead>
					<tr>
						<th>Remove</th>
						<th>Product</th>
						<th>Quantity</th>
						<th>Product Name</th>
						<th>Price</th>
					</tr>
				</thead>
			</table>
			<template id="miNuevoElemento">
				<tr>
					<td>
						<center>
							<span style="cursor: pointer;">Eliminar</span>
						</center>
					</td>
					<td class="invert-image" style="width: 300px;">
						<a href="#"><img src="%photo%" alt="%description%" class="img-responsive" /></a>
					</td>
					<td class="invert">
						<div class="quantity">
							<div class="quantity-select">
								<div class="entry value-minus">&nbsp;</div>
								<div class="entry value"><span>1</span></div>
								<div class="entry value-plus active">&nbsp;</div>
							</div>
						</div>
					</td>
					<td class="invert">%description%</td>
					<td class="invert">%format%</td>
				</tr>
			</template>
		</div>

		<div class="checkout-left">
			<div class="checkout-left-basket animated wow slideInLeft" style="margin-left: 10px; cursor:pointer">
				<h4>Pagar: <span id="tarifa"></span></li></h4>
			</div>

			<!-- <div class="checkout-left-basket animated wow slideInLeft" style="margin-left: 10px; cursor:pointer">
				<h4>Pagar</h4>
			</div> -->

			<div class="checkout-left-basket animated wow slideInLeft" style="margin-left: 10px; cursor:pointer">
				<h4 style="background: black;">Transformar a Dolar</li></h4>
			</div>
		</div>

	</div>
</div>
<hr>
<!-- //check out -->
{% endblock %}

{% block javascripts %}

<!--quantity-->
<script>
	$('.value-plus').on('click', function () {
		var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
		divUpd.text(newVal);
	});

	$('.value-minus').on('click', function () {
		var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
		if (newVal >= 1) divUpd.text(newVal);
	});
</script>
<!--quantity-->

<script>
	$(function () {
		// Parsear el string JSON a un objeto JavaScript
		var productos = JSON.parse(compra_productos);

		// Seleccionar la tabla por su clase (en este caso, se usa la clase "table")
		var tabla = $('#tabla');
		var html = '';
		// Iterar sobre los elementos del array con forEach()
		productos.forEach(function (producto, indice) {
			var description_sort = ''

			if (producto.description.length > 15) {
				description_sort = producto.description.substring(0, 15) + "..."
			} else {
				description_sort = producto.description
			}

			$('#listaTotal').append(`<li>${description_sort}<i>-</i> <span>${producto.format}</span></li>`);

			indice++
			html = $('#miNuevoElemento').html()
				.replaceAll('%format%', producto.format)
				.replaceAll('%description%', producto.description)
				.replaceAll('%photo%', producto.photo)
			tabla.append(html);
		});

		$('#listaTotal').append('<li>Total <i>-</i> <span id="tarifa">$183.96</span></li>');
		$('#tarifa').text($('#compra_total').text())
	})
</script>
{% endblock %}