{% extends "inner_page.html" %}

{% block content %}

<!-- check out -->
<div class="container">
	<div id="carrito_msj" style="padding-top: 30px; display: none;">
		<center>
			<h3><span>Tu carrito </span>esta vacio</h3>

			<img src="https://cdn-icons-png.flaticon.com/256/1170/1170576.png" width="180" alt="%description%"
				class="img-responsive" />
		</center>
	</div>

	<div id="carrito_pagado" style="padding-top: 30px; display: none;">
		<center>
			<h3><span>Tu compra </span>esta Pagada!!!</h3>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
			<br>
			<img src="https://cdn-icons-png.flaticon.com/256/7286/7286142.png" width="180" alt="%description%"
				class="img-responsive" />
		</center>
	</div>

	<div id="carrito_tabla" style="display: none;">
		<div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
			<table id="tabla" class="timetable_sub">
				<thead>
					<tr>
						<!-- <th>Remove</th> -->
						<th>Product</th>
						<!-- <th>Quantity</th> -->
						<th>Product Name</th>
						<th>Price</th>
					</tr>
				</thead>
			</table>
			<template id="miNuevoElemento">
				<tr>
					<!-- <td>
						<center>
							<span style="cursor: pointer;">Eliminar</span>
						</center>
					</td> -->
					<td class="invert-image" style="width: 300px;">
						<a href="#"><img src="%photo%" alt="%description%" class="img-responsive" /></a>
					</td>
					<!-- <td class="invert">
						<div class="quantity">
							<div class="quantity-select">
								<div class="entry value-minus">&nbsp;</div>
								<div class="entry value"><span>1</span></div>
								<div class="entry value-plus active">&nbsp;</div>
							</div>
						</div>
					</td> -->
					<td class="invert">%description%</td>
					<td class="invert">%format%</td>
				</tr>
			</template>
		</div>

		<!-- progress -->
		<div id='carrito_progress' class='progress' style="margin-top: 35px; display:none;">
			<div class="progress-bar bg-custom progress-bar-striped active" style="width:100%"></div>
		</div>
		<!-- //progress -->

		<div id="carrito_botones" style="display: none;" class="checkout-left">
			<div id="btn_pagar" class="checkout-left-basket animated wow slideInLeft"
				style="margin-left: 10px; cursor:pointer">
				<h4>
					Pagar: <span id="tarifa"></span>
				</h4>
			</div>

			<div id="btn_clp" style="margin-left: 10px; display: none; cursor:pointer"
				class="checkout-left-basket animated wow slideInLeft">
				<h4 style="background: black;">
					Transformar a CLP
				</h4>
			</div>

			<div id="btn_usd" style="cursor:pointer" class="checkout-left-basket animated wow slideInLeft"
				style="margin-left: 10px;">
				<h4 style="background: black;">Transformar a USD
				</h4>
			</div>
		</div>

		<form id="formulario" method="POST" action="/redireccionarWebPay">
			<input id="buy_order" type="hidden" name="buy_order" value="">
		</form>
	</div>
</div>
<!-- //check out -->
{% endblock %}

{% block javascripts %}

<script>
	var precio_dolar = 0;

	$(function () {
		// Parsear el string JSON a un objeto JavaScript con datos del carrito
		var productos = JSON.parse(compra_productos);
		//Crea la tabla con datos del carrito
		if (productos.length > 0) {
			$('#carrito_tabla').show()
			// Seleccionar la tabla por su clase (en este caso, se usa la clase "table")
			var tabla = $('#tabla');
			var html = '';
			// Iterar sobre los elementos del array con forEach()
			productos.forEach(function (producto, indice) {
				html = $('#miNuevoElemento').html()
					.replaceAll('%format%', producto.format)
					.replaceAll('%description%', producto.description)
					.replaceAll('%photo%', producto.photo)
				tabla.append(html);
			});
			$('#tarifa').text('CLP ' + $('#compra_total').text())
			$('#carrito_botones').show();
		} else {
			$('#carrito_msj').show();
		}
	})

	// Crea el pago
	$('#btn_pagar').on('click', function () {
		$('#carrito_botones').hide()
		$('#carrito_progress').show()
		$.ajax({
			method: 'POST',
			url: '/pagar_transkbank',
			data: {
				amount_clp: compra_total,
				amount_usd: precio_dolar
			},
			dataType: 'json'
		}).done(function (response) {
			console.log(response);
			$("#buy_order").val(response);
			$("#formulario").submit()
		}).fail(function (jqXHR, textStatus) {
			console.error("Error al intentar pagar mediante Transbank", textStatus, jqXHR);
			$('#carrito_botones').show()
			$('#carrito_progress').hide()
		}).always(function () {
			console.log('Petición AJAX completada.');
		})
	});

	$('#btn_usd').on('click', function () {
		$('#carrito_botones').hide()
		$('#carrito_progress').show()
		$.ajax({
			url: 'https://music-pro-api.herokuapp.com/api/exchange_rate',
			data: { amount_clp: compra_total },
			success: function (response) {
				// Haz algo con la respuesta...
				$('#tarifa').text('USD ' + response.format)
				precio_dolar = response.result;
				$('#btn_usd, #carrito_progress').hide()
				$('#btn_clp, #carrito_botones').show()
			},
			error: function (jqXHR, status, errorThrown) {
				console.error(errorThrown);
			}
		});
	});

	$('#btn_clp').on('click', function () {
		$('#carrito_progress').show()
		$('#carrito_botones').hide();
		// Agrega un retraso de 2 segundos
		$('#btn_clp, #btn_usd').delay(600)
			// Agrega las funciones a la cola
			.queue(function (next) {
				$('#tarifa').text("CLP " + $('#compra_total').text())
				$('#btn_clp, #carrito_progress').hide();
				$('#btn_usd, #carrito_botones').show();
				next();
			})
	});

	$('#vaciar_carrito').on('click', function () {
		$('#carrito_tabla').hide();
		$('#carrito_msj').show();
	});
</script>

<!--quantity-->
<script>
	$('.value-plus').on('click', function () {
		var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) + 1;
		divUpd.text(newVal);
	});

	$('.value-minus').on('click', function () {
		var divUpd = $(this).parent().find('.value'), newVal = parseInt(divUpd.text(), 10) - 1;
		if (newVal >= 1) divUpd.text(newVal);
	});
</script>
<!--quantity-->
{% endblock %}