{% extends "inner_page.html" %}

{% block content %}

<!-- check out -->
<div class="container">

	<div id="carrito_pagado" style="padding-top: 30px;">
		<center>
			<h3><span>Tu compra </span>esta Pagada!!!</h3>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
			<br>
			<img src="https://cdn-icons-png.flaticon.com/256/7286/7286142.png" width="180" alt="%description%"
				class="img-responsive" />
		</center>
	</div>
</div>
<!-- //check out -->
{% endblock %}

{% block javascripts %}

{% endblock %}