{% extends "client.html" %}

{% block stylesheets %}{% endblock %}

{% block content %}
<!-- title -->
<div class="products-right">
  <h5 class="mb-2">Inventario Producto</h5>
</div>
<!-- //title -->

<!-- progress -->
<div class='progress' style="margin-top: 15px;">
  <div class="progress-bar bg-custom progress-bar-striped active" style="width:100%"></div>
</div>
<!-- //progress -->

<!-- bootstrapTable -->
<table id="table"></table>
<!-- //bootstrapTable -->
{% endblock %}

{% block javascripts %}
<script>
  $(function () {
    var order = false
    $("#table").bootstrapTable({
      url: '/portfolio/list',
      columns: [
        { field: 'description', sortable: true, title: 'Description' },
        { field: 'create_time', sortable: true, title: 'Create Time' },
        { field: 'update_time', sortable: true, title: 'Update Time' },
        { field: 'price', sortable: true, title: 'Price' },
        { field: 'photo', sortable: false, title: 'Photo' },
        //{ field: 'url_nintendo', sortable: false, title: 'Url Nintendo' }
      ],
      loadingFontSize: "14px",
      locale: 'es-CL',
      search: true,
      searchAlign: 'left',
      sortable: true,
      pageSize: 10,
      pagination: true,
      paginationPreText: 'Anterior',
      paginationNextText: 'Siguiente',
      paginationVAlign: "both",
      paginationParts: ["pageInfo", "pageList"],
      onLoadSuccess: (number, size) => {
        $(".progress").hide();
        $(".bootstrap-table").show()
      },
      onPageChange: (number, size) => {
        window.scrollTo(0, 0)
      },
    });

    $(".bootstrap-table").hide()
  });
</script>
{% endblock %}